 <div id="formDiv">
 
 <form class="formClass" action="/" method="POST">     {{!--posts to the / --}}
    <label for="signUp">Start your free 14-day trial of Shopify</label> <br>
    <input class="nameInput" placeholder="Name" type="text" name="name"> <br>
    
    <input class="emailInput" placeholder="Email Address" type="text" name="email"> <br>
    
    <input class="passwordInput" placeholder="Password" type="password" name="password"> <br>
    <br>
    <input class="submitBtn" type="submit" value="Create Account">
</form>
</div>

<h1>{{err}}</h1>