 <div>
 
 <form action="/" method="POST">     {{!--posts to the / --}}
    <label for="Name">Name:</label>
    <input type="text" name="name">
    <label for="email">Email:</label>
    <input type="text" name="email">
    <label for="password">Password:</label>
    <input type="text" name="password">
    <br>
    <input type="submit" value="send">
</form>

</div>